* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* :root */
html {
  --bg-color: white;
  --text-color: black;
}
html.dark {
  --bg-color: black;
  --text-color: white;
}
/* @media (prefers-color-scheme: dark) {
  html {
    --bg-color: black;
    --text-color: white;
  }
} */

.parent {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}
